h1 {color: blue;
text-align: center;}

p {color: brown;}

ol {list-style-type: circle; fill: pink;}

li {color: pink;}

#punainen-kohta {color: red;}

.first-box-container {
    background-color: red;
    position: absolute;
    top: 20px;
    left: 10px;
    border-style: solid;
    border-width: 10px;
    border-color: green;
    text-align: center;
    color: blue;
    text-transform: capitalize;
}

.second-box-container {
    background-color: yellow;
    position: absolute;
    top: 20px;
    left: 200px;
    border-style: solid;
    border-width: 10px;
    border-color: red;
    text-align: center;
    color: blue;
    text-transform: capitalize;
}

.third-box-container {
    background-color: green;
    position: absolute;
    top: 20px;
    left: 400px;
    border-style: solid;
    border-width: 10px;
    border-color: red;
    text-align: center;
    color: blue;
    text-transform: capitalize;
}

#box {
    width: 200px;
    height: 150px;
    margin: 10px;
}