h1 {color: blue;}

.leipateksti {color: brown;}

ol {list-style-type: circle; fill: pink;}

li {color: pink;}

#punainen-kohta {color: red;}

.first-box-container {
    width: 200px;
    height: 100px;
    background-color: red;
}

.second-box-container {
    width: 200px;
    height: 100px;
    background-color: yellow;
}

.third-box-container {
    width: 200px;
    height: 100px;
    background-color: green;
}